.App {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  font-size: 24px;
}

.form {
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(73, 73, 73, 0.5);
  
}
.mainInput {
  position: relative;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
	background-color: white;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(153, 153, 153, 0.37);
  width: 474px;
  height: 33px;
  font-size: inherit;
  line-height: 1.4em;
  outline: none;
}
input::placeholder {
  color: rgba(153, 153, 153, 0.37);
  font-style: italic;
}
.mainButton {
  display: none;
}

.view {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #ededed;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-align: left;
  position: relative;
  list-style: none;
  color: #4d4d4d;
  background-color: transparent;
  line-height: 1.2em;
  font-size: 24px;
  padding: 15px 15px 15px 5px;
  margin-left: 60px;
}

/* Chekbox on/off */
.switch {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 30px;
  width: 34px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .check-button {
  border: 1px solid #5dc2af;
}

input:checked + .check-button:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  left: 18px;
  bottom: 5px;
  background-color: #5dc2af;
  transform: rotate(30deg);
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .check-button:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 2px;
  left: 9.9px;
  bottom: 6.2px;
  background-color: #5dc2af;
  transform: rotate(-40deg);
  -webkit-transition: .2s;
  transition: .2s;
}

/* Rounded check-buttons */
.check-button.round {
  border-radius: 34px;
}

/* li close button */

.closeButton:active, .closeButton:focus {
  outline: none;
}

.closeButton {
  display: none;
  border: none;
  position: absolute;
  top: 10px;
  left: 440px;
  font-size: 30px;
  color: rgba(119, 60, 60, 0.6);
  background-color: #fff;
}

.closeButton:hover {
  display: none;
  border: none;
  position: absolute;
  top: 10px;
  left: 440px;
  font-size: 30px;
  color: rgb(155, 45, 45);
  background-color: #fff;
}

.view:hover .closeButton {
  display: block;
}

.todo-container {
  text-align: center;
  font-size: 100px;
  /* font-weight: 100; */
  color: rgba(175, 47, 47, 0.15);
}